@import "var.css";
@import url("fonts.css");

/* Общие стили */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: var(--main-deep);
}

a {
  text-decoration: none;
}

/* Стили для header */
.header {
  width: 1640px;
  display: flex;
  justify-content: space-between;
  margin: 16px auto 0px;
  border: 4px solid var(--main-blue);
  border-radius: 64px;
  padding: 24px 48px;
  font-family: Lexend-Regular;
  font-size: 1.6rem;
  line-height: 20px;
}

.header__logo,
.header__buttons {
  width: 287px;
}

.header__nav,
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  width: 588px;
  padding: 8px;
}

.header__nav-link {
  color: var(--clean-white);
  transition: transform 0.3s ease;
}

.header__nav-link:hover {
  transform: scale(1.1);
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--add-purrple);
  border-radius: 24px;
  background-color: var(--main-deep);
  padding: 14px;
  text-transform: uppercase;
  color: var(--clean-white);
}

.header__button:hover {
  cursor: pointer;
  border-color: var(--main-blue);
}

.header__button_blue {
  border-color: var(--main-blue);
  background-color: var(--main-blue);
}

.header__button_blue:hover {
  background-color: var(--add-purrple);
  border-color: var(--add-purrple);
}

.header__button-language {
  margin-left: 8px;
}

/* Стили для main.home-page */
.home-page {
  width: 1640px;
  height: 1026px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-family: Lexend-Regular;
  color: var(--clean-white);
}

.home-page__partner-invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}

.home-page__partner-invitation-title {
  margin: 0 0 24px 0;
  font-size: 9.6rem;
  line-height: 9.6rem;
}

.highlight {
  color: var(--main-blue);
}

.home-page__partner-invitation-subtitle {
  margin: 0 0 48px 0;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--transp-white);
}

.home-page__partner-invitation-button {
  display: flex;
  margin-bottom: 50px;
  border-color: var(--main-blue);
  background-color: var(--main-blue);
  border-radius: 48px;
  padding: 20px 72px;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: var(--clean-white);
}

.home-page__partner-invitation-button:hover {
  cursor: pointer;
  background-color: var(--add-purrple);
  border-color: var(--add-purrple);
}

.home-page__casino-chips-animation {
  padding-left: 40px;
}

/* Стили для footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 4px solid var(--main-blue);
  border-left: 4px solid var(--main-blue);
  border-right: 4px solid var(--main-blue);
  border-radius: 64px 64px 0px 0px;
  padding: 40px 140px 24px 140px;
}

.footer__nav {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.footer__nav-link {
  font-family: Lexend-Regular;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: var(--clean-white);
}

.footer__nav-link:hover {
  transform: scale(1.1);
}

.footer__nav-link_highlight {
  color: var(--main-blue);
}

.footer__social {
  width: 312px;
  display: flex;
  justify-content: space-between;
}

.footer__social-link svg {
  width: 32px;
  height: 32px;
}

/* Стили для круга на фоне */
body {
  background-image: url(./assets/images/mask.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* Стили для мобильного меню в header */
.header_mobile {
  display: none;
}

.header__insert_mobile {
  width: 100%;
  padding: 10px;
  position: absolute;
  z-index: 1;
  background-color: var(--main-deep);
}

.header__cap_mobile {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: 2px solid var(--main-blue);
  border-radius: 64px;
  padding: 14px 10px;
}

.header__logo_mobile {
  width: 54px;
}

.header__buttons_mobile {
  width: 76px;
  display: flex;
  justify-content: space-between;
}

.header__button_mobile {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--add-purrple);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.header__button_mobile:active {
  border-color: var(--main-blue);
}

.header__burger {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__burger span {
  display: block;
  width: 28px;
  height: 3px;
  background: var(--clean-white);
  transition: transform 0.3s ease;
}

.header__burger.open span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.header__burger.open span:nth-child(2) {
  opacity: 0;
}

.header__burger.open span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.header__nav_mobile {
  display: none;
}

.header__nav_mobile.open {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.header__nav-link_mobile,
.header__authorization-button {
  width: 100%;
  margin-top: 10px;
  border: 2px solid var(--main-blue);
  border-radius: 64px;
  padding: 24px 48px;
  font-family: Lexend-Regular;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--clean-white);
}

.header__nav-link_mobile:active {
  border-color: var(--add-purrple);
}

.header__authorization {
  margin-top: 30px;
}

.header__authorization-button {
  background-color: var(--main-deep);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.header__authorization-button:active {
  border-color: var(--add-purrple);
}

.header__authorization-button_blue {
  background-color: var(--main-blue);
}

.header__authorization-button_blue:active {
  background-color: var(--add-purrple);
}

@media (max-width: 1640px) {
  .header {
    width: 97%;
  }
}

@media (max-width: 1124px) {
  /* Тут можно заменить логотип на мобильную верчию, если будет */
  .header__logo {
    width: 54px;
  }
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }

  .header_mobile {
    display: block;
    width: 100%;
    background-color: var(--main-deep);
  }
}
