/* Общие стили */
* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --main-deep_blue: #110a1d;
  --main-blue: #478bf9;
  --clean_white: #ffffff;
  --add-purrple: #9dadf2;
  --add-fresh_mint: #7ddacf;
  --linear: linear-gradient(to bottom, #478bf9, #b3c6e6);
  --transp-white: #ffffff99;
}

@font-face {
  font-family: Lexend-Regular;
  src: url(./assets/fonts/Lexend/Lexend-Regular.ttf);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: var(--main-deep_blue);
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}

/* Стили для header */
.header {
  width: 1640px;
  display: flex;
  justify-content: space-between;
  margin: 16px auto 0px;
  border: 4px solid var(--main-blue);
  border-radius: 64px;
  padding: 24px 48px;
  font-family: Lexend-Regular;
  font-size: 1.6rem;
  line-height: 20px;
}

.header__logo,
.header__buttons {
  width: 287px;
}

.header__nav,
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  width: 588px;
  padding: 8px;
}

.header__nav-link {
  color: var(--clean_white);
  transition: transform 0.3s ease;
}

.header__nav-link:hover {
  transform: scale(1.1);
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--add-purrple);
  border-radius: 24px;
  background-color: var(--main-deep_blue);
  padding: 14px;
  text-transform: uppercase;
  color: var(--clean_white);
}

.header__button:hover {
  cursor: pointer;
  border-color: var(--main-blue);
}

.header__button_blue {
  border-color: var(--main-blue);
  background-color: var(--main-blue);
}

.header__button_blue:hover {
  background-color: var(--add-purrple);
  border-color: var(--add-purrple);
}

.header__button-language {
  margin-left: 8px;
}

/* Стили для main.home-page */
.home-page {
  width: 1640px;
  height: 100%;
  display: flex;
  margin: auto;
  font-family: Lexend-Regular;
  color: var(--clean_white);
}

.home-page__partner-invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}

.home-page__partner-invitation-title {
  margin: 0 0 24px 0;
  font-size: 9.6rem;
  line-height: 9.6rem;
}

.highlight {
  color: var(--main-blue);
}

.home-page__partner-invitation-subtitle {
  margin: 0 0 48px 0;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--transp-white);
}

.home-page__partner-invitation-button {
  display: flex;
  border-color: var(--main-blue);
  background-color: var(--main-blue);
  border-radius: 48px;
  padding: 20px 72px;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: var(--clean_white);
}

.home-page__partner-invitation-button:hover {
  cursor: pointer;
  background-color: var(--add-purrple);
  border-color: var(--add-purrple);
}

/* Стили для footer */

.footer__nav {
  color: var(--clean_white);
}

svg {
  width: 32px;
  height: 32px
}


