@import "../var.css";
@import url("../fonts.css");

.home-page__blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend-Regular;
  color: var(--clean-white);
}

.blog {
  width: 531px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__header {
  margin: 0 0 24px 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
}

.blog__posts-wrapper {
  border: 3px solid var(--main-blue);
  border-radius: 100px;
  overflow: hidden;
}

.blog__posts-scroll {
  height: 595px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--transp-gray);
  backdrop-filter: blur(10px);
  overflow: hidden;
  overflow-y: auto;
}

.blog__post {
  margin: 8px 40px 8px 24px;
  padding: 16px 64px;
  border-radius: 196px;
  background-color: var(--main-deep-blue);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.blog__post:hover {
  background-color: var(--main-blue);
}

.blog__post-link {
  display: block;
  color: var(--clean-white);
  transition: transform 0.3s ease;
}

.blog__post-link:hover {
  transform: scale(1.02);
}

.blog__post-text {
  margin-bottom: 14px;
}

.blog__post-time {
  font-family: FuturaPT;
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 1.6rem;
  color: var(--transp-white);
}

/* Добавляем стили контейнерам пришедшим из библиотеки SimpleBar  */
.simplebar-content {
  height: 595px;
  width: 531px;
}

.simplebar-vertical {
  height: 403px;
  margin-top: 80px;
  background-color: var(--transp-gray);
}

.simplebar-vertical {
  margin-right: 16px;
}




