#svg-container1 {
  width: 100px; /* Установите необходимую ширину */
  height: 100%; /* Установите необходимую высоту */
  position: relative; /* Позиционирование относительно родительского элемента */
  overflow: hidden; /* Скрытие изображений, выходящих за границы контейнера */
  border: red solid 2px;
}

 #svg-container1 img {
  position: absolute;
} 