.home-page__casino-chips-animation {
  display: flex;
}

.home-page__casino-chips-animation div > img {
  width: 99px;
}

#svg-container1,
#svg-container2,
#svg-container3 {
  width: 100px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

