.home-page__casino-chips-animation {
  display: flex;
}

#svg-container1,
#svg-container2,
#svg-container3 {
  width: 100px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.svg-container1 img {
  margin: -2px;
}
